body {
  margin: 0;
  font-family: Roboto Condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  font-size: 14px;
  font-weight: normal;
}

* {
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
